<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>로그인 페이지</title>

  <!-- Bulma CSS 링크 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jua&family=Single+Day&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/master.css" />
  
  <script>
    // $(document).ready(function () {
    //   listing()
    // })
    // function listing() {
    //   $.ajax({
    //     type: "GET",
    //     url: `/api/articles`,
    //     success: function (response) {
    //       console.log(response)
    //     },
    //   });
    // }


  </script>
  <style>
    .card-content{
      margin-bottom: 20px;
      border: 5px solid rgb(120, 150, 240) ;
    }
  </style>
</head>

<body>
  <section onclick="window.location.href = '/api/articles'" class="hero is-white">
    <div class="hero-body has-text-centered" style="padding-bottom:1rem;margin:auto;">
      <h1 class="title is-sparta">항해블로그</h1>
      <h3 class="subtitle is-sparta">나만의 항해일지</h3>
    </div>
  </section>
  
  <section class="register-form">
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input id="inputNickname" class="input" type="email" placeholder="nickname">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input id="inputPassword" class="input" type="password" placeholder="password">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link" onclick="sign_in()">로그인</button>
      </div>
      <div class="control">
        <button class="button is-link" onclick="window.location.href = '/register'">회원가입</button>
      </div>
    </div>

    <div
      class="modal text-left"
      id="alertModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="alertModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="alertModalLabel">알림</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="alertText">
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-sparta"
              data-dismiss="modal"
            >
              확인
            </button>
          </div>
        </div>
      </div>
    </div>

  </section>
  <script>
    if (localStorage.getItem("token")) {
      getSelf(function () {
        alert("이미 로그인이 되어있습니다. 상품 페이지로 이동합니다.");
        window.location.replace("/main.html");
      });
    }

    function sign_in() {
      let nickname = $("#inputNickname").val();
      let password = $("#inputPassword").val();
      $.ajax({
        type: "POST",
        url: "/api/auth",
        data: {
          nickname: nickname,
          password: password,
        },
        success: function (response) {
          localStorage.setItem("token", response.token);
          window.location.replace("/api/articles");
        },
        error: function (error) {
          alert(error.responseJSON.errorMessage)
        },
      });
    }

  </script>


</body>

</html>