<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>회원가입 페이지</title>

  <!-- Bulma CSS 링크 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jua&family=Single+Day&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/master.css" />

  <script>
    $(document).ready(function () {
      listing()
    })
    function listing() {
      $.ajax({
        type: "GET",
        url: `/api/articles`,
        success: function (response) {
          console.log(response)
        },
      });
    }

    function to_write() {
      window.location.href = "/write"
    }
    function to_main() {
      window.location.href = "/api/articles/"
    }
    function to_detail(number) {
      window.location.href = `/api/articles/${number}`
    }









  </script>
  <style>
    .card-content {
      margin-bottom: 20px;
      border: 5px solid rgb(120, 150, 240);
    }
  </style>
</head>

<body>
  <section onclick="window.location.href = '/main'" class="hero is-white">
    <div class="hero-body has-text-centered" style="padding-bottom:1rem;margin:auto;">
      <h1 class="title is-sparta">항해블로그</h1>
      <h3 class="subtitle is-sparta">나만의 항해일지</h3>
    </div>
  </section>

  <section class="register-form">
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input id="inputNickname" class="input" type="email" placeholder="nickname">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </p>
      <p>nickname은 최소 3자 이상, 알파벳 대소문자, 숫자만 가능</p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input id="inputPassword1" class="input" type="password" placeholder="password">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
      <p>password는 최소 4자 이상, 닉네임과 같은값 포함하지 못합니다.</p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input id="inputPassword2" class="input" type="password" placeholder="cofirm password">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link" onclick="sign_up()">회원가입</button>
      </div>
    </div>
  </section>


  <script>
    function getSelf(callback) {
      console.log('이 함수 작동?!')
      $.ajax({
        type: "GET",
        url: "/api/users/me",
        headers: {
          authorization: `Bearer ${localStorage.getItem("token")}`,
        },
        success: function (response) {
          callback(response.user);
        },
        error: function (xhr, status, error) {
          if (status == 401) {
            alert("로그인이 필요합니다.");
          } else {
            localStorage.clear();
            alert("로그인을 해야 게시글을 작성할 수 있습니다.");
          }
          window.location.href = "/";
        },
      });
    }

    if (localStorage.getItem("token")) {
      getSelf(function () {
        alert("이미 로그인이 되어있습니다.");
        window.location.replace("/api/articles");
      });
    }




    function sign_up() {
      const nickname = $("#inputNickname").val();
      const password1 = $("#inputPassword1").val();
      const password2 = $("#inputPassword2").val();

      $.ajax({
        type: "POST",
        url: "/api/users",
        data: {
          nickname: nickname,
          password: password1,
          confirmPassword: password2,
        },
        success: function (response) {
          alert("회원가입을 축하합니다.")
          window.location.replace("/");
        },
        error: function (error) {
          alert(error.responseJSON.errorMessage);
        },
      });
    }
  </script>


</body>

</html>