<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Nodejs 2주차 과제</title>

  <!-- Bulma CSS 링크 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jua&family=Single+Day&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./css/master.css" />
  
  <script>
    //getSelf 함수 정의
    function getSelf(callback) {
      console.log('이 함수 작동?!')
      $.ajax({
        type: "GET",
        url: "/api/users/me",
        headers: {
          authorization: `Bearer ${localStorage.getItem("token")}`,
        },
        success: function (response) {
          callback(response.user);
        },
        error: function (xhr, status, error) {
          if (status == 401) {
            alert("로그인이 필요합니다.");
          } else {
            localStorage.clear();
            alert("로그인을 해야 게시글을 작성할 수 있습니다.");
          }
          window.location.href = "/";
        },
      });
    }

    //getSelf 함수 실행
    let user;

    getSelf(function (u) {
      user = u;
    });
  
    function posting() {
      let title = $('#title').val()
      let content = $('#content').val()
      if( !(title.length && content.length) ){
        return alert('빈값이 있습니다.')
      }
      $.ajax({
        type: "POST",
        url: "/api/articles",
        headers: {
          authorization: `Bearer ${localStorage.getItem("token")}`,
        },
        data: {
          "title": title,
          "content": content
        },
        success: function (response) {
          console.log(response['result'])
          window.location.href = "/api/articles"
        },
      })
    }
    function to_main(){
      window.location.href = "/api/articles"
    }
  </script>

</head>

<body>
  <section onclick="window.location.href = '/api/articles'" class="hero is-white">
    <div class="hero-body has-text-centered" style="padding-bottom:1rem;margin:auto;">
      <h1 class="title is-sparta">항해블로그</h1>
      <h3 class="subtitle is-sparta">나만의 항해일지</h3>
    </div>
  </section>

  <section class="post-write">
    <div class="field">
      <label class="label">제목</label>
      <div class="control">
        <input class="input" type="text" placeholder="" id="title">
      </div>
    </div>

    <div class="field">
      <label class="label">내용</label>
      <div class="control">
        <textarea class="textarea" placeholder="" id="content"></textarea>
      </div>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link" onclick="posting()">작성하기</button>
      </div>
    </div>



  </section>



</body>

</html>